.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  perspective: 800px;
}

.container img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 10px;
  width: 70%;
  height: auto;
}

.selected-cards {
  display: flex;
  position: fixed;
  bottom: -300px;
  left: 50px;
}
.selected-cards img {
  width: 100px;
  height: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.selected-cards img:last-child {
  margin-right: 0;
}

.selected-card.horizontal {
  transform: rotate(90deg);
}
